@model ModelingAgency.Data.Event

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Postalcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Postalcode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        @if (Model.Models != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Models)
            </dt>

            @foreach (var item in Model.Models)
            {
                <dd class="col-sm-10">
                    @Html.DisplayFor(item => item.Name)
                </dd>
            }
        }
        @if (Model.Client != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Client)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Client.Name)
            </dd>

        }
        @if (Model.EventType != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EventType)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EventType.Name)
            </dd>

        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
